<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="baidu-site-verification" content="UGwYEJV6eC" />
        <meta name="360-site-verification" content="bc607eec20fc4ffc6d34b5c144fdf38e" />
        <meta name='360_ssp_verify' content='39078be248a61e29b7398cece2acaf69' />


        <link th:href="@{/assets/images/favicon.png}" rel="icon" type="image/png">
        <title>Home Page</title>

        <link th:href="@{/webjars/font-awesome/4.3.0/css/font-awesome.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/bootstrap/4.1.0/dist/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/assets/libs/sweetalert/sweetalert.css}" rel="stylesheet">
        <!-- local styles -->
        <link th:href="@{/assets/css/main.css}" rel="stylesheet">
        <noscript>
            <link rel="stylesheet" th:href="@{/assets/css/noscript.css}"/>
        </noscript>
        <link th:href="@{/assets/css/dyl-tool.css}" rel="stylesheet">

        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?44bca316862f6f7c2b6b12b1a5e7706c";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </head>

    <body class="is-preload">
        <!-- Page Wrapper -->
        <div id="page-wrapper">
            <!-- Header -->
            <header id="header">
                <div class="content">
                    <h1><a th:href="@{/}">Dyl Tool</a></h1>
                    <nav id="nav">
                        <ul>
                            <li class="special active">
                                <a th:href="@{/}"><span>Icon制作</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!-- Main -->
            <div layout:fragment="main"></div>
            <!-- Footer -->
            <footer id="footer" class="wrapper style5">
                <div class="content">
                    <ul class="copyright">
                        <li>&copy; 2018 帝一流制作</li>
                        <li>Design: <a href="http://diyiliu.cc">DYL</a></li>
                    </ul>

                    <ul class="icons">
                        <li><a href="javascript:void(0);" class="icon fa-qq"><span class="label">QQ</span></a></li>
                        <li><a href="javascript:void(0);" class="icon fa-wechat"><span class="label">微信</span></a></li>
                    </ul>
                </div>
            </footer>
        </div>

        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.1.0/dist/js/bootstrap.js}"></script>
        <script th:src="@{/assets/libs/sweetalert/sweetalert.min.js}"></script>
        <div layout:fragment="allJs"></div>
    </body>
</html>
