<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>ico在线制作-ico转换工工具-制作favicon-帝一流工具</title>

    <link th:href="@{/assets/css/dyl-ico.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="main" id="main">
    <section class="wrapper style5">
        <div class="inner">
            <section>
                <header>
                    <h4>favicon转换</h4>
                    <p>ico图标在线转换工具能将png、jpg、gif等图片的格式转换成ico格式，帮您快速生成精美的ico图标。</p>
                </header>
                <form id="uploadForm" method="post" th:action="@{/image/ico}" enctype="multipart/form-data">
                    <div class="row gtr-uniform">
                        <div class="col-8">
                            <div class="opt">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="imgFile" name="file"
                                           accept="image/*">
                                    <label class="custom-file-label" for="imgFile" id="imgName">浏览 ... </label>
                                </div>
                                <div>
                                    <p>
                                    <span class="image left">
                                         <img th:src="@{/assets/images/pic04.jpg}" id="imgPreview" alt="ico"/>
                                    </span>
                                    <h5>在线ico图标制作工具使用说明</h5>
                                    1. 原始图片必须为jpg、gif、png格式<br>
                                    2. 原始图片文件大小<5M。<br>
                                    3. 建议原图长宽相同，避免转换后生成的ico图标因缩放而失真。<br>
                                    4. 点击＂浏览/选择文件＂按钮上传本地图片，选择图标分辨率，再点＂下载 ICO 图标＂即可。<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <ul class="actions stacked">
                                <li>
                                    <select name="size" id="size">
                                        <option value="">- 图标尺寸 -</option>
                                        <option value="16" selected>16 * 16</option>
                                        <option value="32">32 * 32</option>
                                        <option value="48">48 * 48</option>
                                        <option value="64">64 * 64</option>
                                        <option value="128">128 * 128</option>
                                    </select>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" id="download"
                                       class="btn button primary fit icon fa-download disabled">下载 ICO 图标</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </section>
</div>

<div layout:fragment="allJs">
    <script th:inline="javascript">
        $(function () {
            var image = $('#imgPreview')[0];

            $('#imgFile').on('change', function () {
                var done = function (url) {
                    image.src = url;
                    $('#imgName').html(file.name);
                };

                var files = this.files;
                if (files && files.length) {
                    var file = files[0];
                    if (file.size > 5 * 1024 * 1024) {
                        swal("图片大小不能超过 5MB", "支持 JPG、PNG、GIF(不推荐) 格式的图片", "warning");
                        return;
                    }

                    if (URL) {
                        done(URL.createObjectURL(file));
                    } else if (FileReader) {
                        var reader = new FileReader();
                        reader.onload = function () {
                            done(reader.result);
                        };
                        reader.readAsDataURL(file);
                    }

                    $('#download').removeClass('disabled')
                }
            });

            $('#download').on('click', function () {
                var file = document.getElementById('imgFile').files[0];
                if (file) {
                    $('#uploadForm').submit();
                }
            });
        });
    </script>
</div>
</body>
</html>